* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: Poppins;
}


body {
    height: 100dvh;
    overflow: hidden;
}

.wrapper {
    height: 100dvh;
    display: grid;
    grid-template-rows: 100px 1fr;
    background-color: var(--primary);
}


h1 {
    font-size: 50px;
    font-weight: 500;
    margin: auto;
    color: var(--blue);
}


button {
    cursor: pointer;
    font-size: 14px;
    transition: 150ms;
    border: none;
    color: white;
}

input {
    outline: none;
    border: none;
    background-color: transparent;
}

.back-button {
    position: absolute;
    top: 20px;
    left: 20px;
    padding: 10px 20px;
    border-radius: 5px;
    background: transparent;
}

.back-button:hover {
    background-color: #4663C6;
}

.back-button:active {
    background-color: var(--dark-blue);
    scale: 1.1;
}

.back-button i {
    margin-right: 10px;
}